# wheel==0.22.0
# requests==2.4.3
# duckduckgo2>=0.21
# feedparser>=5.1.2
#python-forecastio>=0.1
yolk>=0.4.3
pyserial>=2.7
#wordnik==2.1.1
#wolframalpha==1.0.2
#nltk==2.0.4
changes==0.6.0
#pygtk
ipython
colorama==0.3.2
httplib2
redis
hiredis
# source: https://pythonhosted.org/python-stdnet/backends/redis.html
python-stdnet
pulsar==0.9.1
gevent
