yolk>=0.4.3
pyserial>=2.7
changes==0.6.0
ipython
colorama==0.3.2
httplib2
redis
hiredis
# source: https://pythonhosted.org/python-stdnet/backends/redis.html
#python-stdnet
pulsar==0.9.1
#gevent
#greenlet
#taba
transitions==0.2.5
